.width {
    width: 100%;
}
.nav {
    background-color: #cd0000;
    width: 240px;
}
.nav-a {
    display: block;
    margin: 0 10px;
    padding: 9px 10px;
    border-bottom: 1px solid #b70000;
    border-top: 1px solid #de3636;
    color: #fff;
}

.nav-a:first-child {
    border-top: 0;
}

.nav-a + .nav-a + .nav-a {
    border-bottom: 0;
}